
/************** header *************/
.header{
	z-index: 1000;
	width: 100%; 
	display: block;
	opacity: 0.92;
	background: #f8f8f8;
	top: 0;
}
.header .header_box{width: 100%;}
.header .header_box .logo{
	width:25%;
	height:80px;
	background: url(../img/3.png) right center no-repeat;
	float: left;
	display: block;
}
.header .header_box .center{width:52%;height:80px;float:left;text-align: center;}

.header .header_box .center form .search{
	background: url(../img/icon_search.png) 10px center no-repeat;
	background-color:#FDFBF0;
	width:50%;
	height:35px;
	border-radius: 20px;
	padding-left:35px;
	border: 1px solid #ed7f3d;
	margin: 24px auto;
}
.header .header_box .center form .search_btn{
	width:12%;
	height:35px;
	border-radius: 20px;
	font-size: 16px;
	background:#FFF8DC;
	margin-left: -12%;
	border: 1px solid #ed7f3d;
}
.header .header_box .center form .search_btn:hover{
	background: #ed7f3d;
	color: #FFF8DC;
}
.header .header_box .right{
	text-align: center;
	width: 23%;
	height: 80px;
	line-height: 80px;
	float: left;
	padding: 0;
}
.header .header_box .right button{
	width: 30px;
	height: 20px;
	font-size: 14px;
	color: #000;
	padding: 0;
	border: none;
	background: none;
}
.header .header_box .right button:hover{color:#ed7f3d; }
.header .header_box .right a.icon_history{width:25px;height:26px;  display: inline-block; background:url(../img/icon_history.png)  center center no-repeat;position: relative;top: 8px;}

/************** 主要内容 *************/
.list_page{
	margin: 0;
	padding: 0;
}
/************** 上部分的选项清单 *************/
.list_page .list_category{
	background-color: #f8f8f8;
}
.list_page .list_category .category_content{
	width: 85%;
	position: relative;
	margin: 0 auto 20px;
	overflow: hidden;
	padding: 4px 0 20px;
}
.list_page .list_category .category_content .category{
	
	padding-right: 70px;
	height: 36px;
	position: relative;
	overflow: hidden;
}
.list_page .list_category .category_content .category .category_item{
	display: inline-block;
	font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    margin: 10px 10px 0 0;
    text-align: center;
    border-radius: 10px;
}
/* .list_page .list_category .category_content .category .category_item.selected{
	background-color: #efefef;
} */

.list_page .list_category .category_content .category .category_item:hover{
	background-color: #efefef;
}
.list_page .list_category .category_content .category .category_item:hover{
	color: #ef8151;
}
/************** 下半部分 *************/
.list_page .list_content{
	width: 85%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.list_content .list_wrap .mod_ul .mod_li{
	vertical-align: top;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px;
}

.list_content .list_wrap .mod_ul .mod_li .list_img{
	width: 165px;
}
.list_content .list_wrap .mod_ul .mod_li .list_img .link{
	background: url(../img/con03.png) center center no-repeat;
	width: 165px;
	height: 220px;
	display: block;
	overflow: hidden;
}
.list_content .list_wrap .mod_ul .mod_li .list_img .title{
    background: #f8f8f8;
    padding: 6px 10px;
}
.list_content .list_wrap .mod_ul .mod_li .list_img .title .main{
	line-height: 23px;
	height: 23px;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list_content .list_wrap .mod_ul .mod_li .list_img .title .main span{
	float: right;
	color: #ff6200;
	font-size: 16px;
}
.list_content .list_wrap .mod_ul .mod_li .list_img .title .sub{
	line-height: 20px;
	font-size: 14px;
	color: #999;
	margin-top: 2px;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/************** footer *************/
.footer{
	font-size: 12px;
	width: 100%;
	height: 260px;
	background: #333;
	color: #fff;
}
.footer .shang{
	width: 80%;
	height: 190px;
	margin: 0 auto;
}
.footer .shang .one,.two,.three,.four{
	text-align: center;
	float: left;
}
.footer .shang:nth-child(n+1) .title{
	font-size: 17px;
	height: 60px;
	line-height: 60px;
}
.footer .shang:nth-child(n+1) ul li{line-height: 30px;}
.footer .shang .one{width: 24%}
.footer .shang .one ul li{width: 30%;display: inline-block}
.footer .shang .one ul li a{color: #fff;}

.footer .shang .two{width: 16%}
.footer .shang .two ul li a{color: #fff;}

.footer .shang .three{width: 39%}
.footer .shang .three a{display: inline-block;width: 18%;text-align: center;letter-spacing: normal;}
.footer .shang .three a img{width: 32%;}
.footer .shang .three a span{color: #fff;display: block;height: 70px;line-height: 70px;}


.footer .shang .four{width: 17%}
.footer .shang .four ul li a{color: #fff;}

.footer .xia{width: 100%; display:block;text-align: center;height: 60px; line-height: 22px;font-size: 10px;}
.footer .xia p{margin: 0;}

/************** 箭头 *************/
.top{display: none;width: 45px;height: 25px;position: fixed;right: 30px;bottom: 120px;}
.top p,img{width: 100%;text-align: center;}
